'Work':
  'title': 'Work'
  'paths': [
    '/Users/dyankov/Documents/Work'
  ]
'Webcraft':
  'title': 'Webcraft'
  'paths': [
    '/Users/dyankov/Documents/Work/webcraft/production_site/public'
  ]
'SalesRobot - Dev':
  'title': 'SalesRobot - Dev'
  'paths': [
    '/Users/dyankov/Documents/Work/salesrobot/dev'
  ]
'SalesRobot - Dist':
  'title': 'SalesRobot - Dist'
  'paths': [
    '/Users/dyankov/Documents/Work/salesrobot/dist'
  ]
